* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

    font-family: "Consolas", serif;
}
body{
    background: url(./bg.jpg);
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px;
}

.title{
    margin-top: 10px;
    border-bottom: #b715c5 solid 3px;
    border-radius: 7px ;
    margin-left: 3px;

    text-align: center;

    text-shadow: #ffffff 1px 1px 2px ;

    color: white;

    padding: 20px;

    /*background: linear-gradient(117deg, #0fe2d3 0%, #950bd9 100%, rgba(58, 157, 213, 1) 100%);;*/
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 7px, transparent 7px) 0% 0%/12px 12px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 7px, transparent 7px) 100% 0%/12px 12px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 7px, transparent 7px) 0% 100%/12px 12px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 7px, transparent 7px) 100% 100%/12px 12px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 24px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 24px) calc(100% - 10px) no-repeat,
    linear-gradient(117deg, #0fe2d3 0%, #950bd9 100%, rgba(58, 157, 213, 1) 100%);
    border-radius: 12px;

    margin-top: 15px ;
}

.create_post__container{
    margin-top: 20px;
    padding: 10px;
    border: #fff 2px solid;

    border-radius: 16px;
}


.white{
    color: white
}

